<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hackforhumans.refugeetimeline">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".RefugeeTimeline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.TimelineActivity"
            android:exported="true" />
        <activity
            android:name=".activity.TaskDetailsActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.GoalChooserActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
